<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <%= link_to ("<i class='fa fa-rocket'></i> " +'Project Management App').html_safe, root_path, class: "navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
       <% if current_user %>
        <li class="nav-item">
        <%= link_to "Projects", projects_path, class:"nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Projects", projects_path, class:"dropdown-item"%>
            <%= link_to "createproject", new_project_path, class:"dropdown-item"%>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artifacts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Artifacts", artifacts_path, class:"dropdown-item"%>
            <%= link_to "createArtifacts", new_artifact_path, class:"dropdown-item"%>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i>Logout
          <% end %>
        </li>
    <% else %>
      <li class="col-md-4 pull-right nav-item">
        <%= link_to 'Login', new_user_session_path, class:"btn btn-outline-success " %></li>
      </li>
    <% end %>
   </ul>
  </div>
</nav>